<!DOCTYPE html>
<html lang="en">
<head>
  <title>Verify Account</title>
  <style>
    /* Add any custom styling here */
    body {
      font-family: Arial, sans-serif;
      color: #333;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
    }
    .otp-code {
      font-size: 24px;
      font-weight: bold;
      color: #007bff;
    }
  </style>
</head>
<body>
<div class="container">
  <h2>Account Verification</h2>
  <p>Hello,</p>
  <p>Thank you for registering. Please use the following OTP code to verify your account. This code will expire in 15 minutes.</p>
  <p class="otp-code">{{otp}}</p>
  <p>If you didn’t request this, please ignore this email.</p>
  <p>Thank you,<br>Personal Template Nestjs</p>
</div>
</body>
</html>